[Desktop Entry]
Name=Gaze
Comment=GTK4/Adwaita GUI for Gaze
Exec=gaze-gui
Icon=com.gundulabs.Gaze
Terminal=false
Type=Application
Categories=Settings;Security;
Keywords=face;auth;login;biometric;
