[Unit]
Description=Gaze Facial Authentication Daemon
After=dbus.service
Requires=dbus.service

[Service]
ExecStart=/usr/bin/gazed
Restart=on-failure
RestartSec=5
StateDirectory=gaze
StateDirectoryMode=0700
CacheDirectory=gaze
UMask=0077
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
InaccessiblePaths=/home /root
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
RestrictSUIDSGID=yes
LockPersonality=yes
SystemCallArchitectures=native
CapabilityBoundingSet=CAP_DAC_READ_SEARCH
ReadWritePaths=/etc/gaze

[Install]
WantedBy=multi-user.target
