[Unit]
Description=Gaze Facial Authentication Daemon
After=dbus.service
Requires=dbus.service

[Service]
Type=simple
ExecStart=/usr/bin/gazed
Restart=on-failure
RestartSec=5
StateDirectory=gaze
CacheDirectory=gaze
User=root
Group=root

[Install]
WantedBy=multi-user.target
